body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  box-shadow: inset 0 4px 7px 1px #ffffff,
    inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14),
    0 10px 20px rgba(0, 21, 64, 0.05);
  transition: ease 0.5s;
}
.card:hover {
  box-shadow: 1px 1px 30px #a1a1a1;
}

/* NAVBAR CSS */
.navbar-link {
  color: grey;
  padding: 0px 10px;
}
.navbar-link:hover {
  text-decoration: none;
  color: rgb(172, 172, 172);
}

/* CreateSet CSS */
.input-group {
  width: 60%;
}
.problem-card {
  text-align: center;
  margin: 8px;
  color: white;
}
.problem-card :hover {
  cursor: pointer;
}
.card-row {
  justify-content: center;
}
.card-level-1 {
  background-color: #5cb85c;
}
.card-level-2 {
  background-color: #f0ad4e;
}
.card-level-3 {
  background-color: #d9534f;
}
#checkmark-div {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}
#checkmark {
  font-size: 5em;
  color: rgb(21, 180, 21);
}
#xmark-div {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}
#xmark {
  font-size: 5em;
  color: rgb(223, 33, 33);
}

/* PAGNIATION CSS */
.page-item {
  color: rgb(75, 75, 255);
}
.page-item:hover {
  cursor: pointer;
}

/* VIEWSETS CSS */
.set-card {
  margin: 15px;
  text-align: center;
  border-radius: 10px;
}

/* DISPLAY SET PROBLEMS CSS*/
#view-set-row .table {
  width: 70% !important;
}
