html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  box-shadow: -2px 2px 10px #a1a1a1;
}
.card:hover {
  box-shadow: -5px 5px 20px #a1a1a1;
  transition: 0.4s;
}
.spacing {
  padding-top: 80px !important;
}
.header-spacing {
  padding: 50px 0px 5px 0px !important;
}
#icon {
  height: 30px;
  margin: 0 10px;
}
/* SIGN IN/UP CSS */
#login-modal .auth-label {
  color: black;
  font-size: 24px;
}
#login-modal .auth-label:hover {
  text-decoration: none;
  font-size: 25px;
}
#register-modal .auth-label {
  color: black;
  font-size: 24px;
}
#register-modal .auth-label:hover {
  text-decoration: none;
  font-size: 25px;
}
#confirm-modal .auth-label {
  color: black;
  font-size: 24px;
}
#confirm-modal .auth-label:hover {
  text-decoration: none;
  font-size: 25px;
}
.password-error {
  color: red;
}
.small-link {
  padding: 0 0 3px 0 !important;
  font-size: 16px !important;
}
.underline {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: black 2px solid !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding: 5px 10px;
  animation: auth-btns 2.5s infinite;
}
@keyframes auth-btns {
  0% {
    border-color: black;
  }
  50% {
    border-color: rgb(180, 180, 180);
  }
  100% {
    border-color: black;
  }
}

/* LANDING PAGE CSS */
#landing-navbar {
  width: 100%;
  position: absolute;
  color: white !important;
}
#landing-page {
  height: 100vh;
  display: relative;
  background-color: rgb(54, 54, 54);
  width: 100%;
  overflow: hidden;
  color: white;
}
#landing-content {
  padding-top: 200px;
  text-align: center;
}
#landing-content-1 {
  display: inline-block;
  padding-right: 100px;
}
#landing-content-2 {
  display: inline-block;
}
#landing-page h1 {
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}
#landing-page p {
  font-size: 20px;
  margin: 20px 0 25px;
  letter-spacing: 1px;
  font-weight: 350;
  text-transform: capitalize;
  color: white;
}
#landing-pic1 {
  height: 450px;
}
#landing-pic2 {
  height: 400px;
}
#landing-page2 {
  min-height: 100vh;
  height: fit-content;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 150px;
}
#landing-pic3 {
  height: 300px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}
#landing-description {
  text-align: center;
}
#landing-description ul {
  list-style-type: none;
}
#landing-description2 .nav {
  margin-top: 70px;
  width: 70%;
}
#landing-description2 .tab-content {
  width: 70%;
  font-weight: 450;
  letter-spacing: 0.065em;
}
#landing-progress {
  margin-top: 15px;
}
.nav-tabs a {
  font-weight: 550;
  font-size: 24px;
}
.tab-content-description {
  float: left;
  padding: 20px;
}
.contact-page {
  min-height: 70vh;
  height: fit-content;
  color: white;
  background-color: rgb(54, 54, 54);
}
#contact-us {
  text-align: center;
}
#contact-label h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}
#contact-container {
  padding-top: 50px;
}
#contact-form {
  width: 50%;
}
#contact-us .form-group {
  width: 100% !important;
}
#form-textarea {
  height: 175px;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../src/components/img/wave.png);
  background-size: 1000px 100px;
}
.dark-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../src/components/img/wave1.png);
  background-size: 1000px 100px;
}
.wave1 {
  animation: animate 25s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.wave2 {
  animation: animate2 10s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.wave3 {
  animation: animate3 10s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
@keyframes animate3 {
  0% {
    background-position-x: 400;
  }
  100% {
    background-position-x: -2000px;
  }
}

/* NAVBAR CSS */
.navbar-brand a {
  padding-bottom: 3px;
  font-size: 22px;
}
.navbar-dark {
  background-color: rgb(54, 54, 54) !important;
}
.navbar-link {
  color: grey;
  padding: 0px 10px;
}
.navbar-link:hover {
  text-decoration: none;
  color: rgb(172, 172, 172);
}
.navbar-brand {
  color: white;
}
.navbar-brand:hover {
  text-decoration: none;
}

/* CreateSet CSS */
.input-group {
  width: 60% !important;
}
.problem-card {
  text-align: center;
  margin: 8px;
  color: white;
}
.problem-card :hover {
  cursor: pointer;
}
.card-row {
  justify-content: center;
}
.card-level-1 {
  background-color: #5cb85c !important;
}
.card-level-2 {
  background-color: #f0ad4e !important;
}
.card-level-3 {
  background-color: #d9534f !important;
}
#checkmark-div {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}
#checkmark {
  font-size: 5em;
  color: rgb(21, 180, 21);
}
#xmark-div {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}
#xmark {
  font-size: 5em;
  color: rgb(223, 33, 33);
}

/* PAGNIATION CSS */
.page-item {
  color: rgb(75, 75, 255);
}
.page-item:hover {
  cursor: pointer;
}

/* VIEWSETS CSS */
.set-card {
  margin: 15px;
  text-align: center;
  border-radius: 10px;
}
#other-company-label {
  color: white;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50%;
}
.view-sets-btn:hover {
  background-color: transparent !important;
  color: black !important;
}

/* DISPLAY SET PROBLEMS CSS*/
#view-set-row .table {
  width: 70% !important;
}
.badge-warning {
  background-color: #f0ad4e !important;
  color: white !important;
}

/* DISPLAY PROBLEM CSS */
#problem-modal a {
  color: black;
}
#problem-modal a:hover {
  text-decoration: none;
}
#problem-time-input {
  width: 25%;
}

/* TIMER CSS */
#timer {
  border: 1px solid black;
  padding: 18px;
  text-align: center;
}
#timer button {
  margin: 0px 8px;
}

@media only screen and (max-width: 1050px) {
  #landing-content-1 {
    display: inline-block;
    padding: 0 0 30px 0;
  }
  #landing-pic1 {
    height: 300px;
  }
  #landing-description1 {
    display: none;
  }
  #landing-page2 {
    height: 105vh;
    padding-top: 0px;
  }
  #landing-pic3 {
    display: block;
  }
  #landing-description2 .nav {
    width: 100%;
  }
  #landing-description2 .tab-content {
    width: 100%;
    font-weight: 450;
    letter-spacing: 0.065em;
  }
  .nav-tabs a {
    font-weight: 550;
    font-size: 20px;
  }
  #contact-form {
    margin: 0 25px;
    width: 100%;
  }
}

/* mobile devices */
@media only screen and (max-width: 390px) {
  .wave {
    display: none;
  }
  .dark-wave {
    display: none;
  }
}
